@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('fortuneteller.js');

html{
    width: 100%;
    height: 1800px;
    flex-shrink: 0;
    background: linear-gradient(0deg, #2D0320 0%, #2D0320 100%);
    
    
}

body{
    width: 97%;
    height: 97%;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(180deg, #392B58 0%, #33173C 86%);
    

}

#Eyeball{
    position: absolute;
    top: 7.5%;
    left: 110px;
    height: 35%;
    flex-shrink: 0;
    z-index: 3;
    transform: scaleX(-1);
    rotate: -20deg;

    cursor: pointer;
}

#CrystalBall{
    position: absolute;
    top: 10%;
    left: 90px;
    height: 30%;
    transform: scaleX(-1);
   
    z-index: 2;
    cursor: pointer;
    
}

#Table{
    position: absolute;
    top: 30%;
    left: 70px;
    height: 40%;
    flex-shrink: 0;
    z-index: 1;
    transform: scaleX(-1);
}

#rectangle{

    width: 80%;
    /*height: 1000px;*/
    border-radius: 45px;
    background: rgba(45, 3, 32, 0.55);
    position: absolute;
    top: 70%;
    right: 10%;
    z-index: 0;


}

.image-grid {
    --gap: 10px;
    --num-colls: 3;
    --row-height: 200px;

    padding: var(--gap);
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: var(--row-height);
    grid-gap: var(--gap);
    justify-content: center;

}

.image-grid > img{
    width: 200px;
    height: 200px;
    object-fit: auto;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(45, 5, 47, 0.5);
    transition: 0.2s;
}

.Horoscope {
    display: inline-block;
    padding: 0px 0px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #431049;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    opacity: 80%;
}

.Horoscope:hover {
    background-color: #ffe51d;
}

.Horoscope:active {
    background-color: #7a6e1a;
}